.header {
    background: rgba(255, 255, 255, 0.3);
    mix-blend-mode: normal;
    border: 1px solid #fff;
    box-sizing: border-box;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);

}
.navbar-light .navbar-nav .nav-link {
    border: solid 2px transparent;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #2E75FF;
    border: 2px solid #EAEDF5;
    box-sizing: border-box;
    border-radius: 8px;
}
 h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.4px;
    color: #1652AC;
}
.first__screen-text {
    font-weight: 600;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #020303;
    margin-top: 130px;
    position: relative;
}

.first__screen-left {
    /*margin-top: 100px;*/
}

.first__screen-text::before,
.first__screen-text::after {
    content: "";
    display: block;
    position: absolute;
    width: 227px;
    height: 7px;
    background-color: #edeff3;
}
.first__screen-text::before {
    top: -55px;
}
.first__screen-text::after {
    bottom: -55px;
}
.first__screen-right img {
    width: 100%;
}
.first__screen-left img {
    width: 100%;
    margin-top: 0;
}
.row {
    margin-top: 100px;
}
h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    letter-spacing: 2.42px;
    color: #1652AC;
}
.first__screen-right p {
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    color: #45494F;
}

.row3 {

    margin: 0;
    display: flex;
}

.c__picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.row3__right {
    background: linear-gradient(180deg, #163DA2 0%, #003584 100%);
    /*padding: 213px 213px 119px 213px;*/
    height: auto;
    margin: 0 auto;
}

.white_text {
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    color: #FBFDFF;
}

.white_text_h {
    font-weight: bold;
    font-size: 20px;
    line-height: 43px;
    letter-spacing: 2.42px;
    color: #FBFDFF;
    text-align: left;
}

@media screen and (max-device-width: 400px) {
    .first__screen-text::after {
        width: 0;
        height: 0;
    }

}
